

{%extends 'home/base.html'%}

{%block style%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
	div.card {
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.container {
    padding: 10px;
}

/*for numbering tables*/
.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

</style>
{%endblock%}
{%block inputsearch%}

   <div id="searchorderauthorize">
    
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow row ">
      <a class="navbar-brand col-2 col-sm-2 col-md-2 col-lg-2  mr-0 " href="#">Oceanic : {{user.username}}
      </a>
      <input class="form-control form-control-dark col-5 col-sm-5 col-md-8 col-lg-8 w-100" type="text" placeholder="Search" aria-label="Search" v-model="searchfiledsaleauthorize" v-on:keyup.enter="getOrderauthorize">
      <button class='btn btn-outline-secondary my-2 my-sm-0 col-2 col-sm-2 col-md-1 col-lg-1' v-cloak v-on:click.prevent="getOrderauthorize()">search</button>
      <ul class="navbar-nav px-3 col-3 col-sm-3 col-md-1 col-lg-1">
        <li class="nav-item text-nowrap ">
          <a class="nav-link" href="/login/">Sign out</a>
        </li>
      </ul>
    </nav>

  </div>
    {%endblock%}


{%block content%}
<div id="authorize">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Paid </h2>
        <button type="button" class="close" data-dismiss="modal" v-on:click="runupdatesale()">
        <i tyep="button" class="fa fa-check fa-md" style="font-size:24;color:green" ></i>
        </button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="stopmodal()">
          <span aria-hidden="true">&times;</span>
        </button>
        
        
      </div>
      <div class="modal-body ">

     <div class="form-label-group" v-cloak style="margin-bottom: 10px;">
        <input type="number" id="inputloanpaid" class="form-control" placeholder=" amount paid" v-model='loanpaid' required autofocus>
      </div>
             <!-- buttons selection -->
  <div class="btn-group btn-group-toggle " data-toggle="buttons">
  <label class="btn btn-secondary " v-on:click="setMethod('loan')">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Loan
  </label>
  <label class="btn btn-secondary active" v-on:click="setMethod('cash')">
    <input type="radio" name="options" id="option2" autocomplete="off"> Cash
  </label>
  <label class="btn btn-secondary" v-on:click="setMethod('bank')">
    <input type="radio" name="options" id="option3" autocomplete="off"> Bank
  </label>
  <label class="btn btn-secondary" v-on:click="setMethod('mobile')">
    <input type="radio" name="options" id="option3" autocomplete="off"> Mobile
  </label>

</div>
<!-- end button selection -->
  
      </div>
      <div class="modal-footer">
   
      </div>
    </div>
  </div>
</div>

<!-- end demo $$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<div v-for="customer in customers" v-if="customer_has_order_auth(customer)">
<div class="row">
<h3 v-cloak  class="col-6">  [[customer_total_order_auth(customer)]]</h3>
<h3 v-cloak  class="col-6">  [[customer.customer_name]]</h3>
<button class="btn btn-outline-primary btn-sm" v-on:click="authorize_customer_order(customer.id)" style="margin-right: 20px">Authorize Order</button>
	 
	 <a  href="#" v-on:click="prepOrderPdf(customer.id)">
        
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>

      </a>
</div>
	
		<table class="table css-serial" >
  <thead class="">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Date</th>
      <th scope="col">Seller</th>
<!--       <th scope="col">Customer</th>
 --><!--       <th scope="col">Issuer</th>
 -->      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
      <th scope="col">Status</th>
      <th scope="col">Paid</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="">
    <tr v-for="sale in sales" v-if="( !sale.sales_authorized && sale.customer==customer.id )|| (sale.sales_method_payment=='loan' && sale.customer==customer.id)" v-cloak>
      <td scope="row" v-cloak></td>
      <td v-cloak> [[parseDate(sale.created_at)]] </td>
      <td v-cloak v-for="user in users" v-if="user.id==sale.user"> <span v-for="employee in employees" v-if="employee.user == user.id" v-cloak>
      	[[employee.employee_firstname]]
      </span>
      </td>
<!--       <td v-cloak v-for="customer in customers" v-if="sale.customer == customer.id">  [[customer.customer_name]]</td>
 --><!--       <td v-cloak>  Issuer</td>
 -->      <td v-if="item.id == sale.item" v-for ="item in items" v-cloak>[[item.item_name]]</td>
      <td v-cloak>[[sale.sales_quantity]]</td>
      <td v-cloak v-if="sale.sales_method_payment=='loan'">[[sale.sales_balance]]</td>
      <td v-cloak v-else>[[sale.sales_amount]]</td>
	  <td v-cloak v-if="sale.sales_received && !sale.sales_authorized"> <button class="btn btn-small btn-outline-dark" v-on:click="authorizeSale(sale.id)">Authorize</button></td>
	  <td v-cloak v-if="!sale.sales_received && !sale.sales_authorized"> Pending ....</td>
	  <td v-cloak v-if="sale.sales_method_payment=='loan' && sale.sales_authorized"> Authorized Loan</td>
	  <td v-cloak>[[sale.sales_method_payment]]</td>
      <td>
      	<button type="button" class="close" aria-label="Close" v-on:click="deleteSale(sale.id,sale.item,sale.sales_quantity)">

	              <span aria-hidden="true">&times;</span>
				  </button>

		<i tyep="button" class="fa fa-check" style="font-size:24;color:green; margin-right: 0px;" v-on:click="prepsalemethodupdate(sale.id)" v-cloak data-toggle="modal" data-target="#exampleModal" v-if="sale.sales_method_payment=='loan' && sale.sales_authorized"></i>
      </td>
    </tr>

  </tbody>
</table>
	
</div>



<!-- testing new look -->
<!-- 
<div style="margin-bottom: 20px	;">
	<h2>Cards</h2>

<p>The box-shadow property can be used to create paper-like cards:</p>

<div class="card">
  <div class="header">
    <h1>1</h1>
  </div>

  <div class="container" v-for="sale in computesales" v-if="!sale.sales_authorized" v-cloak>
    <p>[[parseDate(sale.created_at)]]</p>
  </div>
</div>
</div>
 -->

<!-- end new look -->

</div>
{%endblock%}

{%block script%}
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
 <script>
    moment().format();
</script>
  <script >
//   searchorderauthorize
// searchfiledsaleauthorize
// getOrderauthorize
new Vue({
  delimiters: ['[[', ']]'],
  el: '#searchorderauthorize',
  data:{
  	searchfiledsaleauthorize:'',
  },methods:{
  	getOrderauthorize:function(){
  		let api_url='/api/sale';
      if(this.searchfiledsaleauthorize!==''||this.searchfiledsaleauthorize!==null){
        api_url='/api/sale/?search='+this.searchfiledsaleauthorize;
      }

     this.$http.get(api_url)
     .then(function(response){

      vmauth.sales=response.data
        vmauth.totalsale=vmauth.getToatalSales(vmauth.sales)
      // this.alertOnMininumIrem(this.items)
     })
     .catch(function(error){
      this.title='error getting items'
     })

  	}
  }

  })

 vmauth= new Vue({
  	delimiters: ['[[', ']]'],
  	el: '#authorize',
  	data:{
  		totalsale:'',
  		title:'',
  		sales:'',
  		user:'',
  		items:'',
  		customers:'',
  		employees:'',
  		users:'',
  		loanpaid:0,
  	},
  	methods:{
  	prepOrderPdf:function(customerid){
      window.location.replace('/pdf/'+customerid+'/');

    },
  		
    // begin js code to handle the modal
    setMethod:function(method){
      this.payment_method=method
      console.log(method)
    },
    stopmodal:function(){
      this.payment_method=''
      this.sale_method_id=''
      this.customer_method_id=''
      console.log('closed')
    },
    prepsalemethodupdate:function(saleid){
      this.customer_method_id=''
      this.sale_method_id=saleid
      this.singlesale=true
      console.log('saleid')
      console.log(saleid)
      console.log('true')

    },
    prepcustomersalemethodupdate:function(customerid){
      this.sale_method_id=''
      this.customer_method_id=customerid
      this.singlesale=false
      console.log('customerid')
      console.log(customerid)
      console.log('false')
    },
    runupdatesale:function(){
      if(this.singlesale){this.updateSalePaymentMethod(this.payment_method)
        console.log('updatesale')
      }
      else {this.updateCustomerSalePaymentMethod(this.payment_method)
        console.log('updatecustomer')
      }
      
    },
    updateSalePaymentMethod:function(cash){
      saleid=this.sale_method_id
      loan=this.loanpaid
     this.$http.post('/paymentmethodauth/'+saleid+'/'+cash+'/'+loan+'/',{})
       .then(function(response){
        // this.items=response.data
      this.title=response.data
      // this.acceptSales(saleid)

      this.getSales()
      
    
       })
       .catch(function(error){
        this.title='error getting items'
       })

    },
    updateCustomerSalePaymentMethod:function(cash){
      customerid=this.customer_method_id
     this.$http.post('/customerpayment/'+customerid+'/'+cash+'/',{})
       .then(function(response){
        // this.items=response.data
      this.title=response.data
      // this.acceptCustomerOrder(customerid)
      
      this.getSales()
    
       })
       .catch(function(error){
        this.title='error getting items'
       })

    },
    // end js code to handle the modal
  		getSales:function(){
  		this.title='fetching data'
  		// note :
  		// this function is modified to get all sales objeects regardless of the user requesting this object
  		 this.$http.get('/api/sale')
  		 .then(function(response){
  		 	this.sales=response.data
  		 	this.title='data fetched'
  		 	// this.user= response.data.userid
  		 	// alert("welcome")
  		 	// this.totalacceptsale=this.getTotalAcceptSales(this.sales)
  		 	this.totalsale=this.getToatalSales(this.sales)
  		 })
  		 .catch(function(error){
  		 	this.title='error getting salse'
  		 })
  	},
  	    updateItemsOnDeleteSales:function(id,quantity){

      this.$http.post('/increaseitem/'+id+'/'+quantity+'/',{'id':id})
       .then(function(response){
        // this.items=response.data
        this.title=response.data
        // this.getSales()
        this.getItems()
        // alert('response')
       })
       .catch(function(error){
        this.title='error getting items'
       })


    },
  	deleteSale:function(id,itemid,quantity){
  		 this.$http.delete('/api/sale/'+id+'/')
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
  		 	this.updateItemsOnDeleteSales(itemid,quantity)
  		 	this.getSales()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })

  	},
  		getToatalSales:function(sales){

  		var amount=0;  	
		$.each(sales,function(key, value) {
			     if(value.sales_received && !value.sales_authorized){
			     	amount+=value.sales_amount
				     }
				 });
		
		return amount;
  	},
  	customer_total_order_auth:function(customer){
  
      var amount=0;
       var userid=this.itemuser
     $.each(this.sales, function(key, value) {
           if((!value.sales_authorized && value.customer==customer.id ) || (value.sales_method_payment=='loan' && value.customer==customer.id )){
            amount+=value.sales_amount
             }
         });

      amount = 'Tsh' + amount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+'  ';

     
     return amount;


    },
  	customer_has_order_auth:function(customer){
  
      found=false;
     $.each(this.sales, function(key, value) {
           if( (!value.sales_authorized && value.customer==customer.id) || (value.sales_method_payment=='loan' && value.customer==customer.id )){
              found=true;
             }
         });
     
     return found;

    },
    getUserid:function(){
      this.$http.get('/api/company')
     .then(function(response){
      // this.company=response.data.serial
      this.user=response.data.userid
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    }
	,
  	getItems:function(){
		 this.$http.get('/api/item')
		 .then(function(response){
		 	this.items=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getUsers:function(){
		 this.$http.get('/api/user')
		 .then(function(response){
		 	this.users=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getEmployees:function(){
		 this.$http.get('/api/employee')
		 .then(function(response){
		 	this.employees=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getCustomers:function(){
		 this.$http.get('/api/customer')
		 .then(function(response){
		 	this.customers=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	authorize_customer_order:function(customerid){
  		this.$http.post('/authorizecustomerorder/'+customerid+'/',{'id':customerid})
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
	  		this.getSales()
	  		this.getItems()
	  		this.getUsers()
	  		this.getEmployees()
			this.getCustomers()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })
  	},
  		authorizeSale:function(id){
  		this.$http.post('/authorizesale/'+id+'/',{'id':id})
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
	  		this.getSales()
	  		this.getItems()
	  		this.getUsers()
	  		this.getEmployees()
			this.getCustomers()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })

  	},parseDate:function(date){

  	return moment(date).format('LLLL');

  	},

  	},
  	computed:{
  		computesales:function(){
  			this.getUserid()

  		this.title='fetching data'
  		// note :
  		// this function is modified to get all sales objeects regardless of the user requesting this object
  		 this.$http.get('/api/sale/'+1)
  		 .then(function(response){
  		 	this.sales=response.data.serial
  		 	this.title='data fetched'
  		 	// this.user= response.data.userid
  		 	// alert("welcome")
  		 	// this.totalacceptsale=this.getTotalAcceptSales(this.sales)
  		 	this.totalsale=this.getToatalSales(this.sales)
  		 })
  		 .catch(function(error){
  		 	this.title='error getting salse'
  		 })

  			return this.sales;
  		}

  	},
  	beforeMount(){
  		this.getUserid()
  		this.getSales()
  		this.getItems()
  		this.getUsers()
  		this.getEmployees()
		this.getCustomers()

  	}
  })

  </script>
{%endblock%}

