

{%extends 'home/base.html'%}

{%block style%}
<!-- {% load static %}
<link rel="stylesheet" href="{% static "css/floating-labels.css" %}" /> -->

<style type="text/css">

    :root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

/*body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


</style>
{%endblock%}

{%block content%}

<div id=app class="container">
<div class='row '>
	<div class='col-lg-8 col-md-8 col-sm-12 col-12'>
	<div class="row">
		   <form class="form-signin" v-on:submit="checkform">
    {% csrf_token %}
<!--       <div class="form-label-group">
        <input type="text" id="inpuitemname" class="form-control" placeholder="Product name" v-model='selected' required autofocus>
        <label for="inpuitemname">Item</label>
      </div> -->
      <div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect03">Customer</label>
	  </div>
	  <select  v-cloak v-model="salecustomer" class="custom-select" id="inputGroupSelect03">
	    <option disabled value="" >Choose</option>
	    <option v-bind:value="customer.id" v-for="customer in customers" v-cloak>[[customer.customer_name]]</option>
	  </select>
	</div>

      <div class="input-group mb-3">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01">Product</label>
	  </div>
	  <select v-on:change="setPrice(selected)" v-cloak v-model="selected" class="custom-select" id="inputGroupSelect01">
	    <option disabled value="" >Choose</option>
	    <option v-bind:value="item.id" v-for="item in items" v-cloak>[[item.item_name]]</option>
	  </select>
	</div>


      <div class="form-label-group" v-cloak>
        <input type="text" id="inputitemquantity" class="form-control" placeholder=" Quantity" v-model='salesquantity' required autofocus>
        <label for="inputitemquantity" v-cloak>Quantity left [[quantityleft]] </label>
      </div>
      
      <div class="form-label-group" v-cloak>
        <input type="text" id="inputitemamount" class="form-control" placeholder="Amount" v-model='salesamount' required autofocus>
        <label for="inputitemamount" v-cloak>Amount : minimum allowed price [[maxdiscount]]/= </label>
      </div>

      

      <button class="btn btn-lg btn-dark btn-block" type="submit">Take Order</button>
      <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p> -->
    </form>
		
	</div>

	<div class="row"  style="
	overflow-y: auto;
	overflow-x: auto;">

	<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="sale in sales" v-if="sale.sales_received" v-cloak>
      <th scope="row" v-cloak>[[sale.id]]</th>
      <td v-cloak> [[sale.created_at]] </td>
      <td v-if="item.id == sale.item" v-for ="item in items" v-cloak>[[item.item_name]]</td>
      <td v-cloak>[[sale.sales_quantity]]</td>
      <td v-cloak>[[sale.sales_amount]]</td>
    </tr>
    
  </tbody>
</table>



		
</div>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6  class="my-0" > Total </h6>
       
      <div>
       
      </div>
      	<h2 class="text-muted" v-cloak> Tsh [[totalsale]] </h2>
      </div>
  </li>

</ul>

</div>


<div class='col-lg-4 col-md-4 col-sm-12 col-12' style="margin-top: 20px;">
	<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between lh-condensed">
      <div>
        <h6  class="my-0" > Total </h6>
        
      </div>
      <div>
      <h4 class="text-muted align-right" v-cloak> Tsh [[totalacceptsale]] </h4>
      	
      </div>
  </li>

</ul> 
<div style="max-height: 500px;
	overflow-y: auto;
	overflow-x: auto;">

	 <ul class="list-group">

			<li class="list-group-item d-flex justify-content-between lh-condensed" v-for= "sale in sales"  v-if="!sale.sales_received" v-on:dblclick="acceptSales(sale.id)" v-cloak>
	              <div>
	                <h6 v-if="item.id == sale.item" class="my-0" v-for="item in items" v-cloak>[[item.item_name]] </h6>
	                <small class="text-muted" v-cloak> [[sale.sales_quantity]] </small>
	              </div>
	              <div>
	              <span v-cloak class="text-muted">Tsh [[sale.sales_amount]] </span>
	              <br>
	              <button type="button" class="close" aria-label="Close" v-on:click="deleteSale(sale.id)">
	              <span aria-hidden="true">&times;</span>
				  </button>
	              	
	              </div>
	              
	            </li>

	 </ul>

</div>
		
  
 <button style="margin-top: 10px;" v-on:click="acceptAllSales" class='btn btn-light btn-small'>Yes All</button>
  <button v-on:click="declineAllSales" style="margin-top: 10px;" class='btn btn-dark btn-small'>No All</button>


 </div>

</div>

</div>



{%endblock%}

{%block script%}
  <script >

// Vue.http.interceptors.push(function (request, next) {
//     request.headers['X-CSRF-TOKEN'] = Laravel.csrfToken;
//     next();
// });
   		// alert(csrftoken)
new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    title: 'Take order',
    days:[1,2,3],
    sales:'',
    items:'',
    itemname:'',
    itemprice:'',
    // salesamount:0,
    salesquantity:1,
    maxdiscount:'',
    quantityleft:'',
    selected:'',
    itemuser:'',
    salecustomer:'',
    customers:'',
    totalacceptsale:0,
    totalsale:0
  },

  methods:{
  	getSales:function(){
  		this.title='fetching data'
  		 this.$http.get('/api/sale')
  		 .then(function(response){
  		 	this.sales=response.data.serial
  		 	this.title='data fetched'
  		 	this.itemuser= response.data.userid
  		 	// alert("welcome")
  		 	this.totalacceptsale=this.getTotalAcceptSales(this.sales)
  		 	this.totalsale=this.getToatalSales(this.sales)
  		 })
  		 .catch(function(error){
  		 	this.title='error getting salse'
  		 })
  	},
  	getItems:function(){
		 this.$http.get('/api/item')
		 .then(function(response){
		 	this.items=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getCustomers:function(){
		 this.$http.get('/api/customer')
		 .then(function(response){
		 	this.customers=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	checkform:function(e){
 //  		csrftoken = Cookies.get('csrftoken');
	// headers = {HTTP_X_CSRFTOKEN: csrftoken};
  		 this.$http.post('/api/sale/',{'item':this.selected,'sales_amount':this.salesamount,'sales_quantity':this.salesquantity,'user':this.itemuser,'customer':this.salecustomer})
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
  		 	 this.getSales()
  		 	 this.salesamount=0,
   			 this.salesquantity=1,
   			 this.selected=''
   			 this.maxdiscount=''
			this.quantityleft=''
			this.salecustomer=''

  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })


  		e.preventDefault();
  	},
  	deleteSale:function(id){
  		 this.$http.delete('/api/sale/'+id+'/')
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
  		 	this.getSales()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })

  	},
  	acceptSales:function(id){
  		this.$http.post('/sale/'+id+'/',{'id':id})
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
  		 	this.getSales()
  		 	this.getItems()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })


  	},
  	declineAllSales:function(){
  		this.$http.post('/saledecline/')
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
  		 	this.getSales()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })

  	}
  	,acceptAllSales:function(){
  		this.$http.post('/saleaccept/')
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
  		 	this.getSales()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })


  	},
  	getTotalAcceptSales:function(sales){
  	var amount=0;  	
		$.each(sales, function(key, value) {
			     if(!value.sales_received){
			     	amount+=value.sales_amount
				     }
				 });
		
		return amount;


  	}
  	,getToatalSales:function(sales){

  		var amount=0;  	
		$.each(sales,function(key, value) {
			     if(value.sales_received){
			     	amount+=value.sales_amount
				     }
				 });
		
		return amount;
  	},setPrice:function(id){
  		
  		var amount;
  		var discount;
  		var itemquantity  	
		$.each(this.items, function(key, value) {
			     if(value.id == id){
			     	amount=value.item_price
			     	discount=value.item_discount
			     	itemquantity=value.item_size
				     }
				 });
		
		this.itemprice=amount
		this.maxdiscount=amount*(1-(discount/100))
		this.quantityleft=itemquantity
  	}


  	},
  	computed:{
  		salesamount:{
  			get:function(){
  			  return this.salesquantity*this.itemprice
  			},
  			set:function(val){
  				// this is done to allow optional entry on price .. that is to say a person can enter a price value not set in db item table
  				this.itemprice=val/this.salesquantity

  			}
  		}

 
  	},
  	beforeMount(){
  		this.getItems()
  		this.getSales()
  		this.getCustomers()
  	}
  }
)
  </script>
{%endblock%}