

{%extends 'home/base.html'%}

{%block style%}

{%endblock%}

{%block inputsearch%}

   <div id="searchoderstock">
    
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow row ">
      <a class="navbar-brand col-2 col-sm-2 col-md-2 col-lg-2  mr-0 " href="#">Oceanic : {{user.username}}
      </a>
      <input class="form-control form-control-dark col-5 col-sm-5 col-md-8 col-lg-8 w-100" type="text" placeholder="Search" aria-label="Search" v-model="searchfiledoderstock" v-on:keyup.enter="getOrderStock">
      <button class='btn btn-outline-secondary my-2 my-sm-0 col-2 col-sm-2 col-md-1 col-lg-1' v-cloak v-on:click.prevent="getOrderStock()">search</button>
      <ul class="navbar-nav px-3 col-3 col-sm-3 col-md-1 col-lg-1">
        <li class="nav-item text-nowrap ">
          <a class="nav-link" href="/login/">Sign out</a>
        </li>
      </ul>
    </nav>

  </div>
    {%endblock%}

{%block content%}
<div id="inventory">
	<h1 v-cloak>[[inventory]]</h1>
	<div class="row">
		<div class="col-lg-8 col-mid-8 col-sm-12 col-12 container">
		<div v-for="customer in customers" v-if="customer_has_order_auth_issued(customer)">
		<div class="row">
<button class="btn  btn-outline-primary btn-small col-3 "  value="Issue Order" v-on:click="issue_customer_order(customer.id)">Issue Order</button>
<h3 v-cloak class="col-3 offset-6">  [[customer.customer_name]]</h3>
	
</div>
							<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Seller</th>
<!--       <th scope="col">Customer</th>
 --><!--       <th scope="col">Issuer</th>
 -->      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="sale in sales" v-if="sale.sales_received && !sale.sales_issue_item && sale.customer==customer.id" v-cloak>
      <th scope="row" v-cloak>[[sale.id]]</th>
      <td v-cloak> [[parseDate(sale.created_at)]] </td>
      <td v-cloak v-for="user in users" v-if="user.id==sale.user"> <span v-for="employee in employees" v-if="employee.user == user.id" v-cloak>
      	[[employee.employee_firstname]]
      </span>
      </td>
<!--       <td v-cloak >  [[customer.customer_name]]</td>
 --><!--       <td v-cloak>  Issuer</td>
 -->      <td v-if="item.id == sale.item" v-for ="item in itemssales" v-cloak>[[item.item_name]]</td>
      <td v-cloak>[[sale.sales_quantity]]</td>
	  <td v-cloak v-if="!sale.sales_authorized && !sale.sales_issue_item"> Pending ....</td>
	  <td v-cloak v-if="sale.sales_authorized && !sale.sales_issue_item"><button class="btn btn-small btn-outline-dark" v-on:click="issueSale(sale.id)">Issue</button></td>
      
    </tr>
    
  </tbody>
</table>
		</div>
	
			
		</div>

		<!-- item side -->


<div class="col-lg-3 col-mid-3 col-sm-12 col-12 container" st>

  <ul class="list-group">
     
   <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h4  class="my-0" >  Name </h4>
        <small class="text-muted"> Quantity </small>
      </div>
      <div>
      <h4 class="my-0"> Manufucturer </h4>
      <small class="text-muted"> Price </small>
        
      </div>
      
      
  </li>

</ul> 
<div style="max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;">

   <ul class="list-group">


      <li v-bind:class="{'list-group-item':true,'d-flex':true,'justify-content-between':true,'lh-condensed':true,'bg-info':(item.item_size<=item.item_minimum_allowed_quantity)}" style="margin-top:10px" v-for="item in items"  v-cloak>

              <div> 
          <h6  class="my-0" v-cloak> [[item.item_name]] </h6>
          <small class="text-muted" v-cloak> [[item.item_size]] </small>
        </div>

      <div>
      <h6  class="my-0" v-cloak> [[item.item_manufucture]] 
        
      </h6>
        <small class="text-muted" v-cloak> [[item.item_price]] </small>
        
      </div>
     
<i id="trashitem" class="fa fa-trash fa-2x pull-right" v-on:click="deleteItem(item.id)"></i>
                
              </li>


   </ul>

</div>

  
</div>
<!-- end item side -->



	</div>




</div>
{%endblock%}

{%block script%}
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
 <script>
    moment().format();
</script>
  <script >

new Vue({
  delimiters: ['[[', ']]'],
  el: '#searchoderstock',
  data:{
    searchfiledoderstock:'',
    title:'',

  },methods:{
    getOrderStock:function(){
           let api_url='/api/sale';
      if(this.searchfiledoderstock!==''||this.searchfiledoderstock!==null){
        api_url='/api/sale/?search='+this.searchfiledoderstock;
      }

      let api_url2='/api/item';
      if(this.searchfiledoderstock!==''||this.searchfiledoderstock!==null){
        api_url2='/api/item/?search='+this.searchfiledoderstock;
      }

     this.$http.get(api_url)
     .then(function(response){

      vminvetory.sales=response.data
      vminvetory.totalsale=vminvetory.getToatalSales(vminvetory.sales)
      // this.alertOnMininumIrem(this.items)
     })
     .catch(function(error){
      this.title='error getting items'
     })

     this.$http.get(api_url2)
     .then(function(response){

      vminvetory.items=response.data
		 	vminvetory.alertOnMininumIrem(vminvetory.items)
     })
     .catch(function(error){
      this.title='error getting items'
     })




    }
  }


})


 vminvetory= new Vue({
  	delimiters: ['[[', ']]'],
  el: '#inventory',
  	data:{
  		inventory:'',
  		totalsale:'',
  		title:'',
  		sales:'',
  		user:'',
  		items:'',
  		customers:'',
  		employees:'',
  		users:'',
  		itemssales:'',
  	},
  	methods:{
  		  	getSales:function(){
  		this.title='fetching data'
  		// note :
  		// this function is modified to get all sales objeects regardless of the user requesting this object
  		 this.$http.get('/api/sale/')
  		 .then(function(response){
  		 	this.sales=response.data
  		 	this.title='data fetched'
  		 	// this.user= response.data.userid

  		 	// alert("welcome")
  		 	// this.totalacceptsale=this.getTotalAcceptSales(this.sales)
  		 	this.totalsale=this.getToatalSales(this.sales)
  		 })
  		 .catch(function(error){
  		 	this.title='error getting salse'
  		 })



  	},
  		getToatalSales:function(sales){

  		var amount=0;  	
		$.each(sales,function(key, value) {
			     if(value.sales_received && !value.sales_authorized){
			     	amount+=value.sales_amount
				     }
				 });
		
		return amount;
  	},
  	getItems:function(){
		 this.$http.get('/api/item')
		 .then(function(response){
		 	this.items=response.data
		 	this.itemssales=response.data
		 	this.alertOnMininumIrem(this.items)
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},alertOnMininumIrem:function(items){
  		var sms='';
      $.each(items, function(key, value) {
           if(value.item_size<=value.item_minimum_allowed_quantity){
           	sms+='remaining ';
           	sms+=value.item_size;
           	sms+=' ';
           	sms+=value.item_name;
           	sms+=value.item_size>1?'s':'';
            $.notify(sms ,'info');
             }
             sms='';
         });


    },
  	getUsers:function(){
		 this.$http.get('/api/user')
		 .then(function(response){
		 	this.users=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getEmployees:function(){
		 this.$http.get('/api/employee')
		 .then(function(response){
		 	this.employees=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},
  	getCustomers:function(){
		 this.$http.get('/api/customer')
		 .then(function(response){
		 	this.customers=response.data
		 })
		 .catch(function(error){
		 	this.title='error getting items'
		 })
  	},customer_has_order_auth_issued:function(customer){
  		 // sale.sales_received && !sale.sales_issue_item
      found=false;
     $.each(this.sales, function(key, value) {
           if(value.sales_received && !value.sales_issue_item && value.customer==customer.id){
              found=true;
             }
         });
     
     return found;

  	},issue_customer_order:function(customerid){
  			this.$http.post('/issuecustomerorder/'+customerid+'/',{'id':customerid})
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
	  		this.getSales()
	  		this.getItems()
	  		this.getUsers()
	  		this.getEmployees()
			this.getCustomers()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })
  	},
  		issueSale:function(id){
  		this.$http.post('/issuesale/'+id+'/',{'id':id})
  		 .then(function(response){
  		 	// this.items=response.data
  		 	this.title=response.data
	  		this.getSales()
	  		this.getItems()
	  		this.getUsers()
	  		this.getEmployees()
			this.getCustomers()
  		 	// alert('response')
  		 })
  		 .catch(function(error){
  		 	this.title='error getting items'
  		 })

  	},
  	parseDate:function(date){

  	return moment(date).format('LLLL');

  	},
    getUserid:function(){
      this.$http.get('/api/company')
     .then(function(response){
      // this.company=response.data.serial
      this.user=response.data.userid
      
     })
     .catch(function(error){
      this.title='error getting items'
     })
    }

  	},
  	beforeMount(){
  		this.getUserid()
  		this.getSales()
  		this.getItems()
  		this.getUsers()
  		this.getEmployees()
		this.getCustomers()

  	}
  })

  </script>
{%endblock%}